@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

/* * {
    border: 1px solid red;
} */

html {
    font-family: 'Poppins', sans-serif !important 
}
  
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

body{
    min-height: 100%;
    position: relative;
    margin: 0;
}

/* CODIGO CSS HEADER */
header {
    position: relative;
    width: 100%;
    height: 850px;
    margin-top: 0;
    top: 0;
    left: 0;
    background-image: url("../img/fondo-header.png");
    background-repeat: round;
    border-radius: 0px 0px 100px 100px; 
    box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
    -webkit-box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
    -moz-box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
}

.header-paginas-int {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 0;
    top: 0;
    left: 0;
    background-image: url("../img/fondo-header.png");
    background-repeat: round;
    border-radius: 0px 0px 100px 100px; 
    box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
    -webkit-box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
    -moz-box-shadow: 2px 3px 27px -12px rgba(0,0,0,0.49);
}

.nav-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    padding: 0px 0px 5px 5px;
    border-bottom: 1px solid #FFFFFF;
}

nav {
    display: flex;

}

.logo {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 2rem;
}

ul li {
    display: inline;
    list-style: none;
    margin-left: 20px;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.img-redes {
    height: 40px;
    margin-left: 10px;
}

.cont-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cont-header-paginas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo-header {
    margin-top: -100px;
}

.titulo-header-paginas {
    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    color: #FFFFFF;
    font-size: 4rem;
}

h3 {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin-top: -45px;
    font-weight: 300;
}

h5 {
    color: #FFFFFF;
    margin-top: -45px;
        font-weight: 300;
}

/* CODIGO CSS LOGOS TECNOLOGÍA */

 .logos-tecno {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    color: #FFFFFF;
    background-color: grey;
    height: 220px;
    font-size: 5rem;
    padding-bottom: 30px;
    z-index: -1;
    margin-top: -100px;
    border-radius: 0px 0px 100px 100px;
} 

/* SECCIÓN SUBTITULO-DESC */

 .subtitulo-desc {
    height: 450px;
    background-color: #FFFFFF;
    padding-top: 50px;
} 
.subt-exp {
    text-align: right;
    margin-right: 100px;
}

.experiencia {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.caja-experiencia {
    width: 250px;
    height: 250px;
    background-color: grey;
    border-radius: 50px;
}

.texto-exp {
    margin-left: 25px;
    font-size: 1rem;
    color: #FFFFFF;
}

/* .exp-izq {

}*/

 .exp-der {
    display: inline;
}  
/* SOBRE MI */

.sobre-mi {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: grey;
    padding-left: 100px;
    padding-right: 100px;
}

.img-sobre-mi {
    width: 350px;
}

/* PROYECTOS */

.proyectos {
    text-align: center;
    padding: 200px;
}

/* FOOTER */

 footer {
    padding-bottom: 1rem;
    padding-top: 4rem;
    background-image: url("../img/fondo-header.png");
    background-repeat: round;
    border-radius: 100px 100px 0px 0px;
}

.cont-footer {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding-bottom: 4rem;
    padding-left: 150px;
    padding-right: 150px;
} 

.redes-footer {
    font-size: 2rem;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.footer-pie {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    border-top: 1px solid #FFFFFF;
}

.footer-pie span {
    font-weight: 600;
}

.footer-pag-int {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
}

.titulo-contacto-pag-int{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: -50px;
    padding-bottom: 15px;
}

.redes-footer a {
        color: #FFFFFF;
        text-decoration: none;
}
