@media (max-width: 600px) {
    h1 {
        font-size: 4rem;
    }

    .animacion-header {
        text-align: center !important;
        margin-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header {
        height: 750px;
    }
}